
    
    <div class="container-fluid">
        <div class="heads">
                <img src="./../../assets/images/infinite_Logo.png" alt="icon1" class="vecotor1">
                <img src="./../../assets/images/top_Banner.svg" alt="union" class="union">
        </div>

        <div class="sec">
           
            <img src="./../../assets/images/forgetPass_doodle_logo.svg" alt="Doodleblue Logo" class="doodleLogo"><br>

            <div class="inputDiv">
            <label for="email" class="labels" >Email address</label><br>
            <input type="email" placeholder="varathan@gmail.com" class="inputBox">
            </div>
            <div class="inputButton">
               <button class="BackButton" [routerLink]="['/']">Back</button>
               <button class="SendOTP">Send OTP</button>
            </div>
        </div>

        <div class="foot">
            
                <img src="./../../assets/images/bottom_banner.svg" alt="Group" class="groupimg">
            
            <div class="iconParent">
                <p>Contact with us</p>
                <div class="icons">
                    <img src="./../../assets/images/instagram_Logo.svg" alt="insta">
                    <img src="./../../assets/images/facebook_logo.svg" alt="facebook">
                    <img src="./../../assets/images/twitter_Logo.svg" alt="twitter">
                    <img src="./../../assets/images/youtube_Logo.svg" alt="youtube">
                    <img src="./../../assets/images/linkedin_Logo.svg" alt="linkedin">
                </div>
                <p><span> Click here </span>to join the Doodleblue Community</p>
            
                <img src="./../../assets/images/bottom_banner_2.svg" alt="frame" class="framimg">
            
    </div>