
.container-fluid {
    background-color: rgb(255, 255, 255);
    width: 100%;
    
}

.vecotor1 {
    margin: 20px 0 0 20px;
    width: 5%;
    height: 3%;
}

.heads {
    display: flex;
    justify-content: space-between;
    
}

.union {
    float: right;
    width: 80px;
}

.sec{
    margin-left: 37%;
    margin-top: 40px;
    width: 60%;
}
.doodleLogo{
    width: 60%;
}
.inputDiv{
    padding-top: 30px;
    margin-bottom: 25px;
}
.labels{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 63, 63);
}
.inputBox{
    border: 1px;
    width: 50%;
    height: 35px;
    border-color: rgb(151, 151, 151);
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    margin-top: 15px;
}
.inputButton{
    display: flex;
 
}
.BackButton{
    background-color: #DBEAFE;
    color: rgb(0, 68, 255);
    width: 25%;
    height: 45px;
    border-style: solid;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.SendOTP{
    width: 25%;
    height: 45px;
    margin-left: 5px;
    background-color:rgb(8, 132, 248);
    color: aliceblue;
    border-style: solid;
    border: 1px;
    border-radius: 5px;
    cursor:pointer;
}

.foot {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.groupimg {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.framimg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;

}

.icons {
    display: flex;
}

.iconParent {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    
}

.icons img {
    cursor: pointer;
}

.iconParent span {
    color: rgb(4, 92, 192);
    cursor: pointer;
    width: 70%;
}